.FlexContainer{
    display: flex;
    background-color: white;
    padding: 20px;
    height: 200px;
    margin-top: 10px;
    color: rgb(64, 64, 67);
    font-size: 19px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}
.ImgContainer{
    max-width: 80%;
    max-height: 50%;
    border-radius: 50%;
    
}
.InfoContianer{
    display: flex;
    align-items: center
}
.FontColor{
    color: rgb(67, 65, 64)
}
.DateSize {
    font-size: 15px;
    
}
