.CarouselImg {
  max-width: 70%;
  max-height: 500px;
}
.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.ProfileImage {
  border-radius: 50%;
  max-width: 12%;
}
.HrLine {
  color: #dc3545;
}
.FactContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.hideUserSales {
  display: none;
}
.FavoriteAd {
  font-size: 20px;
  cursor: pointer;
}
.FavoriteAd:hover {
  color: yellow;
}
.LinkStyle {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.LinkStyle:hover {
  color: grey;
}
.SearchBar {
  margin-top: 1%;
  border-radius: 100px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
  display: flex;
}
.SymBolHover:hover {
  color: aqua;
  cursor: pointer;
  font-size: 30px;
}
.ArrowShow:hover {
  color: aqua;
  cursor: pointer;
  font-size: 30px;
}
.ArrowShow {
  margin-bottom: 10%;
}
.EditDeleteBtn {
  cursor: pointer;
  font-size: 15px;
}

.EditDeleteBtn:hover {
  color: aqua;
}
